1. Каждый запрос должен включать в себя имя и фамилию заявителя.
Запросы без указания фамилии следует считать некорректными и отклонять.

2. Каждый запрос должен включать в себя дату начала поездки.
Запросы без даты начала поездки считать некорректным и отклонять.

3. Каждый запрос должен включать в себя дату окончания поездки.
Запросы без даты начала окончания считать некорректным и отклонять.

4. В каждом запросе дата окончания поездки должна быть после даты начала.
Запросы содержащие дату окончания поездки до даты начала считать некорректным и отклонять.